language: node_js
node_js: "14"
dist: bionic
cache: yarn
before_install:
  - curl --compressed -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
install:
  - yarn
script:
  - yarn lint
  - yarn typecheck
  - yarn build
deploy:
  provider: script
  script: bash scripts/deploy.sh
  on:
    branch: master
