name: deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js ${{matrix.node-version}}
        uses: actions/setup-node@v5
        with:
          node-version: "22.21.1"

      - name: get yarn cache path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{steps.yarn-cache-dir-path.outputs.dir}}
          key: ${{runner.os}}-yarn-${{hashFiles('**/yarn.lock')}}
          restore-keys: |
            ${{runner.os}}-yarn-

      - name: install dependencies
        run: yarn

      - name: test
        run: |
          yarn lint
          yarn typecheck
          yarn build

  deploy:
    needs: test

    runs-on: ubuntu-latest
    if: github.event.repository.fork == false && github.event_name == 'push'

    steps:
      - uses: actions/checkout@v6

      - name: docker log in
        run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u "${{secrets.DOCKER_USERNAME}}" --password-stdin

      - name: build and deploy image
        shell: bash
        run: |
          docker build -t eesast/api:latest .
          docker push eesast/api:latest

      - name: Trigger watchtower on server
        run: |
          curl "https://eesast.com/v1/update?image=eesast%2Fapi" \
               -H "Authorization: Bearer ${{ secrets.WATCHTOWER_HTTP_API_TOKEN }}"
